.btn_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_wrapper button {
  background-color: #05891d;
  padding: 10px;
  min-width: 80px;
  color: aliceblue;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 5px;
  box-shadow: 5px 5px 5px grey;
}

.btn_wrapper button:hover {
  background-color: aliceblue;
  color: #05891d;;
}